<!DOCTYPE html>
<html>
  <head>
    <title>Patient Drug Prescription</title>
    <link rel="stylesheet" type="text/css" href="../static/form.css">
  </head>
  <body>
    <h1 id="form-title">Check Prescription</h1>
    <div class="form1">
    <form id="form-item" method="POST" action="/check">
      <label for="ID">Unique ID:</label>
      <input name="ID" type="text" placeholder="1234567890">

      <br>

      <br>

      <table class="centered thick-border">
          <tr>
                <th>Attribute</th>
                <th>Value</th>
         </tr>
          {% for k, v in data_list.items() %}
                <tr>
                        <td>{{ k }}</td>
                        <td>{{ v }}</td>
                </tr>
          {% endfor %}
      </table>

      <button id="submit-button" class="a" type="submit">Check</button>

    </form>
     
  </div>
  </body>
</html>
