<!DOCTYPE html>
<html>
  <head>
    <title>Patient Drug Prescription</title>
    <link rel="stylesheet" type="text/css" href="form.css">
    <img src="devHacksLogo.png" alt="Mountain View">
  </head>
  <body>
    <h1 id="form-title">Patient Drug Prescription Form</h1>
    <div class="form1">
    <form id="form-item" method="POST" action="/">
      <label for="fullname">Full Name:</label>
      <input name="fullname" type="text" placeholder="John Doe">
      <br>
      <label for="email">Email:</label>
      <input name="email" type="text" placeholder="xyz@gmail.com">
      <br>
      <label for="phone">Phone Number:</label>
      <input name="phone" type="text" placeholder="012-345-6789">
      <br>
      <label for="prescription">Prescription Drug:</label>
      <input name="prescription" type="text" placeholder="adderall">
      <br>
      <label for="dosage">Dosage:</label>
      <input name="dosage" type="text" placeholder="200 mg/1 capsule/20 mL">
      <br>
      <br>
      <button id="submit-button" type="submit">Submit</button>
    </form>
  </div>
  </body>
</html>
