<!DOCTYPE html>
<html>
  <head>
    <title>Patient Drug Prescription</title>
    <link rel="stylesheet" type="text/css" href="form.css">
  </head>
  <body>
    <h1 id="form-title">Drug Prescription</h1>
    <div class="form1">
    <form id="form-item" method="POST" action="/check">
      <label for="ID">Unique ID:</label>
      <input name="ID" type="text" placeholder="1234567890">

      <br>

      <br>
      {{ % if rslt == 1 }}
      <button id="submit-button" class="a" type="submit">Issue</button>
      {{ % else }}
      <button id="submit-button" class="a" type="submit">Check</button>
      {{ % endif }}
    </form>
      {{ % if rslt == 1 }}
    <form id="form-item" method="GET" action="/check">
      <button id="submit-button" type="cancel">Cancel</button>
    </form>
    {{ % endif }}
  </div>
  </body>
</html>
