<!DOCTYPE html>
<html>
  <head>
    <title>Patient Drug Prescription</title>
    <link rel="stylesheet" type="text/css" href="../static/form.css">
  </head>
  <body>
    <h1 id="form-title">Issue Prescription</h1>
    <div class="form1">
    <form id="form-item" method="POST" action="/issue">
      <label for="ID">Unique ID:</label>
      <input name="ID" type="text" placeholder="1234567890">

      <br>

      <br>
      <button id="submit-button" class="a" type="submit">Issue</button>

    </form>
    <form id="form-item" method="GET" action="/issue">
      <button id="submit-button" type="cancel">Cancel</button>
    </form>
  </div>
  </body>
</html>
